<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div id="app">
        <div class="container-back">
            <div class="container-cont">
                <div class="container-left">
                    <div class="profilo">
                        <div class="name">
                            <div class="picture">
                                <img src="img/avatar_io.jpg" alt="">
                            </div>
                            <strong>sofia</strong>
                        </div>
                        <div class="options">
    
                        </div>
                    </div>
                    <div class="notification">
                        <div class="picture">
                            <i class="fa-regular fa-bell-slash"></i>
                        </div>
                        <div class="info">
                            <p>
                                <strong>Ricevi notifiche di nuovi messaggi</strong>
                            </p>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="chats">
                        <div class="users change" v-for=" user in contacts" @click="changePicture(user)" :class="user.hover == true ? 'hover' : 'bianco'">
                            <div class="name" >
                                <div class="picture">
                                    <img :src="user.imagine" alt="">
                                </div>
                                <div class="description">
                                    <p>
                                        <strong>
                                            {{user.name}}
                                        </strong>
                                    </p>
                                    <p>
                                        {{user.messages.slice(-1)[0].message}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-right">
                    <div class="off" v-if="dipende !== ''">
                        <div class="profilo">
                            <div class="name">
                                <div class="picture">
                                    <img :src="dipende" alt="">
                                </div>
                                <div class="data">
                                    <p>
                                        <strong>{{element.name}}</strong>
                                    </p>
                                    <p>
                                        Ultimo accesso oggi alle 12:00
                                    </p>
                                </div>
                            </div>
                            <div class="options">
        
                            </div>
                        </div>
                        <div class="menssaggi">
                            <div class="men-left">
                                <div  class="sms " v-for="messagge in subElement" :class="messagge.status == 'sent' ? 'green' : 'white'">
                                    <p>
                                        {{messagge.message}}
                                    </p>
                                    <div class="dates">
                                        <button></button>
                                        {{messagge.date.slice(11, 16)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lachat center">
                            <div class="emotion">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <input type="text" id="chat" placeholder="Scrivi un messaggio" @keyup.enter="addi" ref="madonna">
                            <div class="audio center">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/data.js"></script>
</body>
</html>